<div class="container">
  <%= image_tag ("dbc_pic_filter.JPG"), class: "ian-pic" %>
  <div class="bio">
    <p>I am a songwriter turned front end developer who is looking for the next big challenge. I've worked in the music industry for the past 7 years and am now taking my creative and problem solving skills to the tech field</p>
  </div>
</div>