<div class="post-section">
  <img class="post-image post-item" src="https://unsplash.it/300/300/?random" alt="ooppsss">
  <p class="post-date post-item">July 1, 2017</p>
  <h1 class="post-title post-item">First Post</h1>
  <p class="post-short-description post-item">This is my first post and I can't believe it. This is sooooo crazy whaaaaaaaaaaaat</p>
</div>

<div class="post-section">
  <img class="post-image post-item" src="https://unsplash.it/300/300/?random" alt="ooppsss">
  <p class="post-date post-item">July 1, 2017</p>
  <h1 class="post-title post-item">First Post</h1>
  <p class="post-short-description post-item">This is my first post and I can't believe it. This is sooooo crazy whaaaaaaaaaaaat</p>
</div>

<div class="post-section">
  <img class="post-image post-item" src="https://unsplash.it/300/300/?random" alt="ooppsss">
  <p class="post-date post-item">July 1, 2017</p>
  <h1 class="post-title post-item">First Post</h1>
  <p class="post-short-description post-item">This is my first post and I can't believe it. This is sooooo crazy whaaaaaaaaaaaat</p>
</div>