<div class="recent-posts-section">
  <h2>Latest Posts</h2>
  <% @recent_posts.each do |post| %>
    <div class="recent-post">
      <img class="recent-post-image" src="https://unsplash.it/300/300/?image=<%= post.pic_number %>" alt="ooppsss">
      <h3 class="recent-post-title"><%= link_to post.title, post_path(post) %></h3>
    </div>
  <% end %>
</div>